@media (min-width: 431px) {
    .card {
        padding: 24px;
        row-gap: 24px;
    }

    .picture {
        height: 200px;
    }

    .content {
        width: 334px;
        row-gap: 12px;
    }

    .category {
        padding: 4px 12px;
    }

    .category, .publish-date, .author-name {
        font-size: 14px;
    }

    .title {
        font-size: 24px;
    }

    .description {
        font-size: 16px;
    }

    .author-pic {
        width: 32px;
    }
}

@media (max-width: 430px) {
    .card {
        padding: 18px;
        row-gap: 18px;
    }

    .picture {
        height: 150px;
    }

    .content {
        width: 248px;
        row-gap: 9px;
    }

    .category {
        padding: 3px 9px;
    }

    .category, .publish-date, .author-name {
        font-size: 10px;
    }
    
    .title {
        font-size: 18px;
    }
    
    .description {
        font-size: 12px;
    }

    .author-pic {
        width: 26px;
    } 
}

.card {
    width: fit-content;
    background-color: white;
    border: 1px hsl(0, 0%, 42%) solid;
    border-radius: 20px;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.picture {
    border-radius: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.category {
    color: hsl(0, 0%, 7%);
    width: fit-content;
    font-weight: bold;
    background-color: hsl(47, 88%, 63%);
    border-radius: 4px;
}

.title {
    font-weight: bold;
    transition: color 80ms;
}

.title:hover {
    cursor: pointer;
    color: hsl(47, 88%, 63%);
}

.description {
    color: hsl(0, 0%, 42%);
    line-height: 1.5;
}

.author {
    display: flex;
    align-items: center;
}

.author-pic {
    margin-right: 10px;
}

.author-name {
    flex: 1;
    font-weight: bold;
}
